<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/boardHome.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>homeBoard</title>
</head>
<body>

<header>
        <ul>
            <li><a href="#dropmenu"><i class="material-icons">menu</i></a></li>
            <li><a href="#user"><i class="material-icons">person</i></a></li>
            <li><a href="#notification"><i class="material-icons">add_alert</i></a></li>
            <li><a class="search" href="#search">SEARCH</a></li>
        </ul>
</header>

<main>
    <section class="image-holder">
        <img id="mainimage" src="">
        <img id="overgroupimage" src="">
        <h1 th:text="${currentBoard.name}">Title of Board</h1>
    </section>

    <section class="manage-content">

            <i class="material-icons icon">bookmark</i>
            <a href="Create Event">+CREATE EVENT</a>
            <a href="Manage Event">+MANAGE EVENT</a>

            <i class="material-icons icon">add_alert</i>
            <a href="Push Notification">+PUSH NOTIFICATION</a>

            <i class="material-icons icon">group_add</i>
            <a href="Manage Members">+MANAGE MEMBERS</a>
    </section>

    <section class="event-stream">
        <h2>Upcoming events...</h2>
	<div th:each="event: ${events}" class="event">
	    <h3 th:text="${event.name}">Eventname</h3>
	<p th:text="${event.message}">This is a description of the event</p>
        </div>
    </section>

</main>
</body>
</html>
