<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/styles/boardHome.css}" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/styles/GlobalHeader.css}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	      rel="stylesheet">
	<title th:text="${board.name}">homeBoard</title>
    </head>
    <body>
	<header th:insert="header_template :: header"></header>
	<main class="flex-container">

	    <div th:if="${admin}" id="optionsholder">
		<div id="imageholder">
		    <img height="" src="">
		    <h1 th:text="${board.name}">Board Name</h1>
		</div>
		<ul >
		    <li class="lievent board-form admin-button">
			<i class="material-icons">bookmark</i>
			<a th:href="@{'/addevent/' + ${boardId}}"><label>+Create Event</label></a>
		    </li>

		    <li class="lievent board-form admin-button">
			<i class="material-icons">person</i>
			<h3><a th:href="@{'/members/' + ${boardId} + '/false'}">+Members</a></h3>
		    </li>
		    <li class="lievent board-form admin-button">
			<div class="board-form" id="honbrenne">
			    <a th:href="@{'/inviteByEmail/' + ${boardId}}" ><button class="board-button"><i class="material-icons">person</i></button></a>
			    <a th:href="@{'/inviteByEmail/' + ${boardId}}"><label for="follow">+Invite To Follow</label></a>
			</div>
		    </li>
		</ul>
	    </div>

	    <div th:unless="${admin}" id="not_member">
		<div id="imageholder">
		    <img height="" src="">
		    <h1 th:text="${board.name}">Board Name</h1>
		</div>
		<ul>
		    <li th:unless="${follower}"class="lievent">
			<form class="board-form" th:action="@{'/follow/' + ${boardId} + '/' + ${userId}}" method="post">
			    <button class="board-button"><i class="material-icons">person</i></button>
			    <label for="follow">+Follow</label>
			</form>
		    </li>

		    <li th:if="${follower}"class="lievent">
			<form method="post" class="board-form" th:action="@{'/requestMembership/' + ${boardId} + '/' + ${userId}}">
			    <button class="board-button"><i class="material-icons">person</i></button>
			    <label for="follow">+Ask To Join As Member</label>
			</form>
		    </li>
		</ul>
	    </div>
	    <div id="eventstream">
		<h3 id="upcomingevents">UPCOMING EVENTS...</h3>
		<ul th:if="${events != null}">
		    <li th:each="event : ${events}" class="eventli">
			<div class="eventdescription">
				<div class="border">
			    <a th:href="@{'/event/' + ${boardId} + '/' + ${event.id}}"><h3 th:text="${event.name}">Eventname</h3></a>

			    <p th:text="${event.message}">eventdescription</p>

				<p id="eventMessage">
					<span th:text="${event.location}"></span>
					<span th:text="${event.datetime_from.getHour()+':'+event.datetime_from.getMinute()}"></span>
					<span> to </span>
					<span th:if="${event.datetime_to.dayOfMonth+'/'+ event.datetime_to.getMonthValue() == event.datetime_from.dayOfMonth+'/'+ event.datetime_from.getMonthValue()}"
						  th:text="${event.datetime_to.getHour()+':'+event.datetime_to.getMinute()}"></span>
					<span th:if="${event.datetime_to.dayOfMonth+'/'+ event.datetime_to.getMonthValue() != event.datetime_from.dayOfMonth+'/'+ event.datetime_from.getMonthValue()}"
						  th:text="${event.datetime_to.dayOfMonth+'/'+ event.datetime_to.getMonthValue()+' '+event.datetime_to.getHour()+':'+event.datetime_to.getMinute()}"></span>
				</p></div></div>
			<div class="eventdate">
			    <i id ="datotagg" class="material-icons">bookmark</i>
				<div class="dateDisplay">
					<div th:text="${event.day}"></div>
					<div id="dayInMonth"
						 th:text="${event.datetime_from.dayOfMonth+'/'+ event.datetime_from.getMonthValue()}"></div>
				</div>
			</div>
		    </li>
		</ul>
	    </div>
	</main>
    </body>
	<script>
		let datonode = document.getElementsByClassName("dateDisplay")
		let eventNode = document.getElementsByClassName("eventdescription")
		let boxNode = document.getElementsByClassName("eventli")
		let number = boxNode.length;

		for (let i = 0; i < boxNode.length; i++) {
			for (let y = 1; y < number; y++) {
				if (datonode[i].innerText == datonode[i + 1].innerText) {
					eventNode[i].innerHTML = eventNode[i].innerHTML + eventNode[i + 1].innerHTML
					boxNode[i + 1].remove()
				}
			}
		}
	</script>
</html>
