<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/event.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/GlobalHeader.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>Events</title>
</head>
<body>
<header th:insert="header_template :: header"></header>
<main>
    <div>
        <div class="grid-container">
            <h1 class="eventname" th:text="${name}"></h1>
            <div class="date">
                <div class="datestart">
                    <h3 th:text="${dayOfWeekStart}"></h3>
                    <p th:text="${dayAndMonthStart}"></p>
                </div>
                <h3 th:if="${dayOfWeekStart != dayOfWeekEnd}"> <-> </h3>
                <div class="dateend" th:if="${dayOfWeekStart != dayOfWeekEnd}">
                    <h3 th:text="${dayOfWeekEnd}"></h3>
                    <p th:text="${dayAndMonthEnd}"></p>
                </div>
            </div>
            <div class="time">
                <h3 class="timestart" th:text="${hourAndMinStart}"></h3>
                <h3><-></h3>
                <h3 class="timeend" th:text="${hourAndMinEnd}"></h3>
            </div>

            <h3 class="loacation" th:text="${location}"></h3>
            <p class="description" th:text="${description}"></p>
            <div class="foot">
                <div class="backbutton">
                    <a class="backbutton" type="button" >Back</a>
                </div>
                <div class="editbutton" th:if="${role == 'leader' || role == 'admin'}">
		            <a type="submit" th:href="@{'/addevent/' + ${boardId} + '/' + ${eventId}}">Edit</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
