<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/eventform.css}" rel="stylesheet" />
    <link th:href="@{/styles/GlobalHeader.css}" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>Add Event</title>
</head>
<body>
<header th:insert="header_template :: header"></header>
<div class="flex-container">

    <div class="boks1">
        <h2>+ Create New Event</h2>
        <section class=form>
	    <form th:action="@{'/addevent/' + ${boardId}}" method="post" th:object="${event}">
                <label>
                    <h3>+ Event title</h3>
                    <input class="forminput" type="text"  th:field="*{name}" th:errorclass="filderror">
                </label>

                <label><h3>+ Start date</h3>
                    <input class="forminput" type="datetime-local" th:field="*{datetime_from}" th:errorclass="filderror">
                </label>

                <label><h3>+ End date</h3>
                    <input class="forminput" type="datetime-local" th:field="*{datetime_to}" th:errorclass="filderror" >
                </label>

                <label><h3>+ Location</h3>
                    <input class="forminput" type="text" th:field="*{location}">
                </label>

		<input type="hidden" th:field="*{id}">

                <label><h3>+ Event description</h4>
                    <textarea id="textarea"  rows="10" cols="30" th:field="*{message}">Add a deacription of the event.</textarea>
                </label>

                <select id="membership" name="access" th:field="*{event_type}">
                    <option value="FOLLOWER">Follower</option>
                    <option value="MEMBER">Member</option>
                    <option value="LEADER">Leader</option>
		    <option th:if="${admin}" value="ADMIN">Admin</option>
                </select>

                <button id="createbutton" type="submit">Create</button>
                <br/>
		<a th:href="@{'/boardHome/' + ${boardId}}">Cancel</a>

        </section>

        <ul class="errorlist">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
        </ul>
        </form>
    </div>
</div>
</div>
</body>
</html>
