<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/event.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>Events</title>
</head>
<body>
<header>
    <nav class="navbar">
        <ul>
            <li><a href="#dropmenu"><i class="material-icons">menu</i></a></li>
            <li><a href="#user"><i class="material-icons">person</i></a></li>
            <li><a href="#notification"><i class="material-icons">add_alert</i></a></li>
            <li style="float:right"><a class="search" href="#search">SEARCH</a></li>
        </ul>

    </nav>
</header>
    <div id="main">
        <div class="grid-container">
            <h1 class="eventname" th:text="${name}"></h1>
            <div class="date">
                <h3>From</h3>
                <div class="datestart">
                    <h3 th:text="${dayOfWeekStart}"></h3>
                    <p th:text="${dayAndMonthStart}"></p>
                </div>
                <h3>To </h3>
                <div class="dateend" th:if="${dayOfWeekStart != dayOfWeekEnd}">

                    <h3 th:text="${dayOfWeekEnd}"></h3>
                    <p th:text="${dayAndMonthEnd}"></p>
                </div>
            </div>
            <div class="time">
                <h3 class="timestart" th:text="${hourAndMinStart}"></h3>
                <h3><-></h3>
                <h3 class="timeend" th:text="${hourAndMinEnd}"></h3>
            </div>

            <h3 class="loacation" th:text="${location}"></h3>
            <p class="description" th:text="${description}"></p>
            <button class="backbutton" type="button" >Back</button>
            <button class="editbutton" type="button" th:if="${role == role.ADMIN || role.LEADER}">Edit</button>
        </div>
    </div>
</body>
</html>