<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="fastis profile page">
    <meta name="author" content="fastis">
    <link th:href="@{/styles/home.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>Start</title>
</head>
<body>
<div id="main">tests</div>
<a href="/login">login</a>

<div>CURRENT MONTH template</div>
<div>

    <ul class="events" th:each="events : ${eventList}">
        <li id="eventName" th:text="${events.name}"></li>
        <div id="dateBox">
            <i id="datotagg" class="material-icons">bookmark</i>
            <div th:text="${events.day}"></div>
            <div id="dayInMonth" th:text="${events.datetime_from.dayOfMonth}"></div>
            <div th:text="'/'"></div>
            <div id="monthInYear" th:text="${events.datetime_from.getMonthValue()}"></div>
            <br>
            <div id="eventMessage" th:text="${events.message}"></div>
        </div>
    </ul>
</div>
</body>
</html>