<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="fastis profile page">
    <meta name="author" content="fastis">
    <link th:href="@{/styles/home.css}" rel="stylesheet"/>
    <link th:href="@{/styles/GlobalHeader.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Home</title>
</head>

<body>
<header th:insert="header_template :: header"></header>
<main>
    <div class="monthNav">
        <div>
            <a th:if="${MonthNav != BlockMonthNav}" th:href="@{'/'+ ${CM-1}}" id="prevButton"><</a>
        </div>
        <div class="showMonth">
            <h3 th:text="${month}"></h3>
            <p th:text="${currentYear}"></p>
        </div>
        <a th:href="@{'/'+ ${CM+1}}" id="nextButton">></a>
    </div>
    <ul class="events" th:each="events : ${eventList}">
        <li id="eventName" th:text="${events.name}"></li>
        <div id="dateBox">
            <i id="datotagg" class="material-icons">bookmark</i>
            <div id="dateDisplay">
                <div th:text="${events.day}"></div>
                <div id="dayInMonth" th:text="${events.datetime_from.dayOfMonth+'/'+ events.datetime_from.getMonthValue()}"></div>
            </div>
        </div>
        <div id="eventMessage" th:text="${events.board.name}"></div>
    </ul>
</main>
</body>
</html>