<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="fastis profile page">
    <meta name="author" content="fastis">
    <link th:href="@{/styles/home.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Start</title>
</head>

<body>
<div id="navbar">
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Dropdown</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="#">Settings</a>
            <a href="#">My boards</a>
            <a href="#">Eventstream</a>
            <a href="#">Create board</a>
        </div>
    </div>
    <a href="#">Profile</a>
    <a href="#">Notifications</a>
    <a href="#">Search</a>
</div>
<a href="/login">login</a>

<div>CURRENT MONTH template</div>
<div>

    <ul class="events" th:each="events : ${eventList}">
        <li id="eventName" th:text="${events.name}"></li>
        <div id="dateBox">
            <i id="datotagg" class="material-icons">bookmark</i>
            <div th:text="${events.day}"></div>
            <div id="dayInMonth" th:text="${events.datetime_from.dayOfMonth}"></div>
            <div th:text="'/'"></div>
            <div id="monthInYear" th:text="${events.datetime_from.getMonthValue()}"></div>
            <br>
            <div id="eventMessage" th:text="${events.message}"></div>
        </div>
    </ul>
</div>
<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }


    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
</body>

</html>