<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Invite By Email</title>
		<link rel="stylesheet" th:href="@{/styles/inviteByEmail.css}">
		<link th:href="@{/styles/GlobalHeader.css}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	      rel="stylesheet">
    </head>
    <body>
	<header th:insert="header_template :: header"></header>
	<main>
		<div>
			<form class="flex-container" th:action="@{'/inviteByEmail/' + ${boardId}}" method="post">
				<label class="email">Email:</label>
				<input class="input" type="text" name="email">
				<a class="backB" href="FIXTHIS">Back</a>
				<button class="submitB" type="submit">Invite</button>
			</form>
		</div>
	</main>
    </body>
</html>
