<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="fastis profile page">
    <meta name="author" content="fastis">
    <link rel="stylesheet" th:href="@{/styles/profile.css}">
    <title>Profile</title>

</head>
<body>

<section class="flex-container">

    <div id="boks1">

        <h3>+ My Profile</h3>

        <form th:action="editprofile" th:method="post" id="user" th:object="${user}">

            <i class="material-icons">person</i>
            <div class="inputfield">
                <label class="name">Name </label>
                <h4 id="name" th:text="${member.name}"></h4>
            </div>


            <i class="material-icons">email</i>
            <div class="inputfield">
                <label class="email">E-mail</label>
                <h4 id="email" th:text="${member.email}"></h4>
            </div>

            <i class="material-icons">phone</i>
            <div class="inputfield">
                <label class="number">Number</label>
                <h4 id="number" th:text="${member.number}"></h4>
            </div>


            <button class="submitbutton" type="submit" class="submit btb hoverDiscover">Edit Profile</button>

            <div>
                <a href="/">Home</a>
            </div>



        </form>
    </div>

</section>

</body>
</html>




