<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <meta name="description" content="fastis profile page">
    <meta name="author" content="fastis">
    <link rel="stylesheet" th:href="@{/styles/signup.css}">
    <link rel="stylesheet" th:href="@{/styles/GlobalHeader.css}">
    <title>Sign Up</title>
</head>
<body>
<header th:insert="header_template :: header"></header>
<main>
    <section>
        <div class="newUser">
            <h3>Sign up</h3>
            <form th:action="signup" th:method="post" id="user" th:object="${user}">

                <label class="email">E-mail*</label>
                <input class="email1" th:errorclass="filderror" th:field="*{email}">

                <label class="firstname">Firstname* </label>
                <input class="firstname1" th:errorclass="filderror" th:field="*{firstname}">

                <label class="lastname">Lastname* </label>
                <input class="lastname1" th:errorclass="filderror" th:field="*{lastname}">

                <label class="password">Password* </label>
                <input class="password1" th:errorclass="filderror" type="password" th:field="*{password}">

                <label class="phoneNumber">Phone number</label>
                <input class="phoneNumber1" th:errorclass="filderror" th:field="*{phone_number}">


                <div class="loginbuttom form-actions">
                    <button type="submit" class="login btb hoverDiscover">Sign up</button>
                </div>
                <ul class="errorlist">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </form>
        </div>
    </section>

</main>
</body>
</html>