body {
    min-height: 100vh;
    background: linear-gradient(319deg, rgb(146, 255, 237) 0%, #606060 100%);
    font-family: roboto;
}

p{
    font-size: 14px;
}

h3 {
    font-size: 18px;
    font-style: oblique;
}


.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.flex-container > div {
    background-color:#606060;
    /* border-radius: 10px; */
    width: 480px;
    height: 480px;
    /* margin: 5px; */
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.70);
}


header{
    position:sticky;
    background-color:#606060;
    /* border-radius: 10px; */
    width: 480px;
    height: 80px;
    margin:auto;
    align-items: center;
    box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.70);
    background: linear-gradient(#606060,#000000);
}



.navbar > ul{
    margin-left: -15px;
}

.navbar > ul > li{
    margin-top: 15px ;

}

input  {
    margin-top: 5px;
    margin-right: 25px;
    border-radius:5px;
}

.search {
    margin-right: 15px;
}



li {
    margin-left: 5px;
    margin-right: 5px;

    float: left;
    list-style-type: none;

}


i.material-icons {

    font-size: 36px;
    color:white;
}

#logo{


}

.text .search {
    border-radius: 10px;
    float: left;
    width: 20%;
    padding: 10px;
    color:#606060 ;
    font-size: 14px;
    border: 1px solid grey;
    cursor: pointer;
    margin-right: 5px;
}

#imageholder{
    position: absolute;
    background-color: white;
    height:130px;
    width: 400px;
    border-radius: 10px;
    margin: 7px;
    margin-top: -15px;
    box-shadow: 0px 0px 41px -3px rgba(0, 0, 0, 0.70);

}

#optionsholder{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#optionsholder > ul{
    margin-top: 150px;
}

#optionsholder > ul >li > i.material-icons{
    font-size: 42px;
    color:#404040;
}



.lievent{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:auto;
}

.lievent > h3{
    margin-top: -50px;
    margin-bottom: -5px;
    font-size: 18px;
    color:#606060;
}




#optionsholder > ul >li {

    width: 400px;
    margin: auto;
    display: list-item;
    align-items: center;
}




/* Eventstream */

#upcomingevents{

    font-style: italic;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 24px;
}


#eventstream  {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:2000px;
    background: linear-gradient(#606060,#000000,#606060,#000000,#606060,#000000,#606060,#000000);
    text-align: left;
}

#eventstream > h3 {
    margin-top: -10px;
    color: white;
}


.eventli {
    display: flex;
    flex-direction: row;
}

#eventstream > ul {
    margin-top: -30px;
}

#eventstream > ul >li {
    background-color: white;
    height:100px;
    width: 400px;
    border-radius: 10px;
    margin: 7px;
    box-shadow: 0px 0px 41px -3px rgba(0, 0, 0, 0.70);
}


/* Event Tiltle and descrition */

.eventdescription {
    margin-top: -30px;
    margin-left: 20px;
}

.eventdescription > p {
    margin-top: -70px;
    margin-left: 20px;
}


/* Eventdate */

.eventdate {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

#datotagg{
    color: rgb(17, 156, 133);
    font-size: 90px;
    margin-top: -15px;
    margin-right: 10px;
}

#date {
    position: absolute;
    margin-top: -20px;
    margin-left: 25px;
    color: white;
    font-style: bold;
    font-size: 18px;
}

