* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


body {
    min-height: 100vh;
    width: 100vw;


}

p {
    font-size: 12px;
}

h3 {
    font-size: 16px;
    font-weight: lighter;
}

a {
    text-decoration: none;
}


.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.flex-container > div {
    background-color: white;
    /* border-radius: 10px; */
    min-height: calc(50vh - 56px);
    width: 90vw;
    font-size: 30px;
}


/***** Body *****/

#imageholder {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    height: 20vh;
    width: 90vw;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.70);
    margin-top: 2vh;
    margin-bottom: 3vh;

}

#optionsholder, #not_member {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#not_member {
    min-height: 50vh;
}

#not_member > ul > li {
    margin: auto;
}

#optionsholder > ul, #not_member > ul {
    width: 90vw;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: space-around;
    min-height: 30vh;
    margin-bottom: 1vh;
}

.board-form {
    display: flex;
    flex-flow: nowrap column;
}

.board-button {
    background-color: white;
    border: none;
}

.board-button > i.material-icons, .board-button > a > i.material-icons {
    font-size: 46px;
    color: #404040;
}

.admin-button > i.material-icons, .board-button > a > i.material-icons {
    font-size: 46px;
    color: #404040;
}

.board-form > label, .board-form > a > label {
    color: #606060;
    font-size: 16px;
    font-weight: lighter;
}

#honbrenne {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
}

.lievent {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.lievent > h3 {
    font-size: 28px;
    color: #606060;
}


/* Eventstream */

#upcomingevents {
    align-items: center;
    background-color: rgb(17, 156, 133);
    border-radius: 10px;
    width: 90vw;
    text-align: center;
    color: white;
    font-weight: bodler;
    font-size: 20px;
}


#eventstream {
    background-color: white;
}


.eventli {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.70);


}

#eventstream > ul {
}

#eventstream > ul > li {
    background-color: white;
    width: 90vw;
    border-radius: 10px;
    margin: 2vh 0;
}

#eventstream > ul >li >a{
    text-decoration: none;
}

/* Event Tiltle and descrition */

.eventdescription {
    margin: 10px;
    padding-right: 60px;
}
.colordate {
    font-style: italic;
    color: #FBB03B;
}

.border {
    border-bottom: 0.2px #6060602e solid;
    margin-bottom: 16px;
    padding-bottom: 6px;
}
a > h3 {
    text-decoration: none;
    color: black;
}

/* Eventdate */

.eventdate {
    margin-left: auto;
    position: absolute;
    right: -10px;
}

#datotagg {
    position: relative;
    top: -18px;
    color: rgb(17, 156, 133);
    font-size: 90px;
    left: -28px;
}

.dateDisplay {
    position: relative;
    left: -2px;
    top: -88px;
}

#date {
    color: white;
    font-style: bold;
    font-size: 16px;
}
