* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    width: 375px;
    height: 812px;
    font-family: Roboto;
}

main {
    display: flex;
    flex-flow: nowrap column;
}

a {
    color: #606060;
    text-decoration: none;
}

/***** Header *****/

header {
    width: 100%;
    background-color: #606060;
    z-index: -69;
}

header > ul {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
}

li {
    list-style: none;
}

li > a  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/***** Image Hodler *****/

.image-holder {
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #606060;
    border-radius: 10px;
    width: 90%;
    height: 120px;
    align-self: center;
    padding-bottom: 5px;
    transform: translate(0, -5px);
    z-index: 69;
    background-color: white;
}


/***** Manage Content *****/

.manage-content {
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-evenly;
    align-items: center;

}

.icon {
    color: #606060;
    margin: 10px 0;
}


/***** Event Stream *****/

.material-icons.md-24 {
    font-size: 48px;
    color: #606060;
}


