*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    width: 100vw;
    font-family: roboto;
}

p{
    font-size: 14px;
}

h3 {
    font-size: 20px;
    font-weight: lighter;
}


.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.flex-container > div {
    background-color:white;
    /* border-radius: 10px; */
    width: 90vw;
    min-height: calc(50vh - 56px);
    font-size: 30px;
}


/***** Header *****/

header{
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(17, 156, 133);
    width: 100vw;
    height: 90px;
    align-items: center;
}

header > ul {
    height: 100%;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
}

header > ul > li {
    margin: 0 5px;

}

header > ul > li:last-child {
    margin-left: auto;
}


input  {
    margin-top: 5px;
    margin-right: 25px;
    border-radius:5px;
    border: 1px solid #E0E7FF;
    font-size: 12px;
    border-radius: 3px;
}

li {
    list-style-type: none;
}


i.material-icons {
    font-size: 32px;
    color:white;
}

#logo{
    transform: translate(50%);

}

.text .search {
    border-radius: 10px;
    width: 20%;
    padding: 10px;
    color:#606060 ;
    font-size: 14px;
    border: 1px solid grey;
    cursor: pointer;
    margin-right: 5px;
}


/***** Body *****/

#imageholder{
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    height:20vh;
    width: 90vw;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.70);
    transform: translate(0, -5px);
    margin-bottom: 1vh;

}

#optionsholder{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#optionsholder > ul{
    width: 90vw;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    justify-content: space-around;
    min-height: 50vh;
    margin-bottom: 1vh;
}

#optionsholder > ul >li > i.material-icons{
    font-size: 52px;
    color:#404040;
}



.lievent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lievent > h3{
    font-size: 28px;
    color:#606060;
}


/* Eventstream */

#upcomingevents{
    align-items: center;
    background-color:rgb(17, 156, 133);
    border-radius: 10px;
    width: 100vw;
    text-align: center;
    color: white;
    font-weight: bodler;
    font-size: 20px;
}


#eventstream  {
    background-color: ;
}


.eventli {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.70);

}

#eventstream > ul {
}

#eventstream > ul >li {
    background-color: white;
    height:100px;
    width: 90vw;
    border-radius: 10px;
    margin: 2vh 0;
}


/* Event Tiltle and descrition */

.eventdescription {
    margin: 10px;
}


/* Eventdate */

.eventdate {
    display: flex;
    margin-left: auto;
}

#datotagg{
    position: relative;
    top: -16px;
    color: rgb(17, 156, 133);
    font-size: 90px;
}

#date {
    color: white;
    font-style: bold;
    font-size: 16px;
}
