* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
    font-size: 16px;
}

body {
    background: white;
}
main {
    width: 100vw;
    height: calc(100vh - 56px);
}
h3 {
    font-size: 1.3em;
}
h1 {
    font-size: 2em;
    text-align: center;
}

.grid-container {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            ". eventname eventname eventname ."
            ". date date date . "
            ". time time time ."
            ". loc loc loc ."
            ". descript descript descript ."
            ". foot foot foot .";
    justify-items: center;
    align-items: center;
}

.eventname {
    grid-area: eventname;
    align-self: center;
}
.date {
    grid-area: date;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.datestart {

}
.dateend {

}
.time {
    grid-area: time;
    display: flex;
    width: 100%;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.timestart {

}
.timeend {

}
.loacation {
    grid-area: loc;
}
.description {
    grid-area: descript;
    justify-self: start;
    align-self: start;
}

.foot {
    grid-area: foot;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.foot > div {
    width: 33%;
    height: 100%;
    border-radius: 22px;
    background: linear-gradient(#606060,#000000);
    box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot > div > a {
    color: white;
    text-decoration: none;
    padding: 20% 0%;
}










