
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin: auto;
}


body {

    min-height: 100vh;
    background: linear-gradient(319deg, rgb(146, 255, 237) 0%, #ffffff 100%);
    font-family: roboto;

}


/***** Header *****/

header{
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(17, 156, 133);
    width: 480px;
    height: 90px;
    align-items: center;
}

header > ul {
    height: 100%;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
}

header > ul > li {
    margin: 0 5px;

}

header > ul > li:last-child {
    margin-left: auto;
}


input  {
    margin-top: 5px;
    margin-right: 25px;
    border-radius:5px;
    border: 1px solid #E0E7FF;
    font-size: 12px;
    border-radius: 3px;
}

li {
    list-style-type: none;
}


i.material-icons {
    font-size: 32px;
    color:white;

}

#logo{
    transform: translate(50%);

}

.text .search {
    border-radius: 10px;
    width: 20%;
    padding: 10px;
    color:#606060 ;
    font-size: 14px;
    border: 1px solid grey;
    cursor: pointer;
    margin-right: 5px;
}