* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background: linear-gradient(319deg, rgb(146, 255, 237) 0%, #ffffff 100%);

}
#main {
    background-color: aquamarine;
    color: red;
}

.events {
    background: #6F6F6F;
    border-radius: 10px;
    padding: 16px;
    width: auto;

    height: fit-content;
    margin: 5px;
    position: relative;

}

.events > li {
    display: inline-flex;
    color: white;
}
.events > div > div {

    color: black    ;
}

.events > #dateBox {
    color: #707070;
    position: absolute;
    top: -16px;
    right: 0px;
    max-height: 50px;

}

#dayInMonth {
    position: relative;
    left: -10px;
}
#monthInYear{
    position: relative;
    left: 10px;
    top: -36px;
}
#spacer {
    position: relative;
    top: -18px;

}

#dateBox > * {
    text-align: center;
}
#eventName {
    font-family: Arial;
}
#dateDisplay {
top: -56px;
    position: relative;
}

#datotagg{
    color: #54E7E7;
    font-size: 60px;
}