* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
    font-size: 16px;
}
body {
    /*background: white;*/
    background: linear-gradient(319deg, #2F4858 0%, #ffffff 100%);
}
main {
    width: 100vw;
    height: calc(100vh - 56px);
}
.month {
    font: 600 1.5em Roboto;
    text-align: center;
}

.events {
    background: white;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.70);
    border-radius: 10px;
    padding: 16px;
    width: auto;
    height: fit-content;
    margin: 4%;
    position: relative;
}
.monthNav {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "prev month next";
    justify-content: center;
    align-items: center;
    text-align: center;
}
#prevButton {
    grid-area: prev;
    color:rgb(17, 156, 133);
}
.showMonth {
    grid-area: month;

}
#nextButton {
    grid-area: next;
    color:rgb(17, 156, 133);
}
h3 {
    font-size: 2em;
    font-weight: lighter;
}
p {
    font-size: 1em;
}
a {
    text-decoration: none;
    font-size: 3em;
    color: black;

}
#eventName{
    font-size: 1.5em;
}

#eventMessage > a {
    font-size: 1em;
}
.events > li {
    display: inline-flex;
    color: black;
}
.events > div > div {

    color: black    ;
}

.events > #dateBox {
    color: #707070;
    position: absolute;
    top: -16px;
    right: 0px;
    max-height: 50px;

}

#dayInMonth {
    position: relative;
}

#dateBox > * {
    text-align: center;
}

.dateDisplay {
    top: -70px;
    position: relative;
}

#datotagg{
    color: #FBB03B;
    font-size: 80px;
}