* {
    margin: 0px;
    padding: 0px;

}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

body {
    min-height: 100vh;
}

main {
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(319deg, rgba(255,255,255,1) 0%, rgba(149,149,149,1) 100%);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "login";
}

main > section {
    display: flex;
    justify-content: center;
    align-items: center;

}

main > section > .loginbox {
    grid-area: login;
    width: 500px;
    height: 500px;
}

main > section > .loginbox > div {
    margin-bottom: 15px;
}

main > section > .loginbox > h3 {
    font-size: 28px;
    color: black;
}

main > section > .loginbox > .userpass {
    color: #8C98A9;
    margin-top: 15px;
}

main > section > .loginbox > .userpass > .pass {
    margin-top: 15px;
}

main > section > .loginbox > .userpass > div > input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #E0E7FF;
}

main > section > .loginbox > div > a {
    text-decoration: none;
    color: #8C98A9;
}

main > section > .loginbox > .loginbuttom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hoverDiscover:hover {
    transform: scale(1.2, 1.2);
    box-shadow: 0 2px 10px 2px #383838;
}

main > section > .loginbox > .loginbuttom > button {
    width: 205px;
    margin: 15px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px 30px;
    transition: all 1s;
    font: 400 13.3333px Roboto;
}

main > section > .loginbox > .creatone > p {
    text-align: center;
    color: black;
}

main > section > .loginbox > .creatone > p > a {
    text-decoration: none;
    color: #65B3BF
}