* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    background: white;
}

main {
    width: 100vw;
    height: calc(100vh - 56px);
}
span {
    font-size: 1.3em;
}
ul{
    margin: 3% 3%;
}

li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.3fr 0.7fr;
    grid-template-areas:
        "name type"
        "form form";
    align-items: center;
    background-color: white;
    height: 100px;
    width: 90vw;
    border-radius: 10px;
    margin: 2vh 0;
}
.name {
    grid-area: name;
    text-align: center;
}
.type {
    grid-area: type;
    text-align: center;
}
form {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "option update";
    gap: 5%;
    justify-content: center;
}
.option {
    grid-area: option;
}
.update {
    grid-area: update;
    text-align: center;
}

.backbutton {
    width: 33%;
    height: 100%;
    border-radius: 22px;
    background: linear-gradient(#606060,#000000);
    box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.70);
    display: flex;
    justify-content: center;
    margin: auto;
}
.backbutton > a {
    color: white;
    text-decoration: none;
    padding: 10% 33%;
}
.navB {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.navB > div {
    width: 30%;
    border-radius: 22px;
    background: linear-gradient(#606060,#000000);
    box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.70);
    display: flex;
    justify-content: center;
    margin: 3% 0%;

}
.navB > div > a{
    color: white;
    text-decoration: none;
    padding: 10% 0%;

}


select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: whitesmoke;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align-last: center;
    appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background: linear-gradient(#606060,#000000);
    background-color: black;
    cursor: default;
    margin: 0em;
    font: 400 18px roboto;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    background: linear-gradient(#606060,#000000);
    color: whitesmoke;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: whitesmoke;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: right;
    appearance: textfield;
    background-color: black;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 18px roboto;
    padding: 1px 2px;
    border-width: 0px;
    border-radius: 10px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}








