* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    width: 375px;
    height: 812px;
    background: linear-gradient(319deg, rgb(146, 255, 237) 0%, #ffffff 100%);
}
#main {
    background-color: aquamarine;
    color: red;
}
