* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    font-family: roboto, sans-serif;
    font-size: 16px;
}


body {
    min-height: 100vh;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: auto;
    box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.70);
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}

p{
    font-size: 14px;
}

h3{
    font-size: 20px;
    font-weight: lighter;
}

#search{

    font-size: 36px;
    color:#606060;
}

input{

    padding: 3px;
    border: 1px solid #E0E7FF;
    font-size: 12px;
    border-radius: 3px;
    margin-bottom: 10px;


}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.button{
    margin: 10px;
    color: white;
    text-decoration: none;
    background-color: #606060;
    background-color: rgb(17, 156, 133);
    border: 1px solid #606060;
    border-radius: 30px;
    padding: 10px 30px;
    transition: all 1s;
    font: 400 16px Roboto;
}

li{
    list-style: none;
}

a{
    text-align: center;
    text-decoration: none;
    color: rgb(17, 156, 133);
    font-size: 14px;
    font-weight: bolder;
}

.homeA > a{
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10% 33%;

}

.resultBox{
    width: 100%;
}
.searchResults {
    background: white;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.70);
    border-radius: 10px;
    padding: 16px;
    height: fit-content;
    margin: 8%;
}
.searchA {
    text-align: center;
    text-decoration: none;
    color: rgb(17, 156, 133);
    font-size: 1.5em;
}