* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}

body {
    height: 100vh;
    background: linear-gradient(319deg, rgb(146, 255, 237) 0%, #ffffff 100%);

}

main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "login";


}

main > section {
    display: flex;
    justify-content: center;
    align-items: center;

}

main > section > .newUser {
    grid-area: login;
    width: 500px;
    max-height: 700px;
}

main > section > .newUser > h3 {
    font-size: 28px;
    margin-left: 40px;
    margin-bottom: 30px;
    color: #E76F51;
    margin-block-end: 0px;
}

form {
    margin: 5px 40px;
    height: 700px;
    display: grid;
    gap: 10px 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-content: center;
    grid-template-areas: "email email1"
    "firstname firstname1"
    "lastname lastname1"
    "password password1"
    "phoneNumber phoneNumber1"
    "error submit"
    "errorlist errorlist";
}

.firstname {
    grid-area: firstname;
}

.lastname {
    grid-area: lastname;
}

.email {
    grid-area: email;
}

.username {
    grid-area: username;
}

.password {
    grid-area: password;
}

.phoneNumber {
    grid-area: phoneNumber;
}

.firstname1 {
    grid-area: firstname1;
}

.lastname1 {
    grid-area: lastname1;
}

.email1 {
    grid-area: email1;
}

.username1 {
    grid-area: username1;
}

.password1 {
    grid-area: password1;
}

.phoneNumber1 {
    grid-area: phoneNumber1;
}

.error {
    grid-area: error;
}
.errorlist {
    grid-area: errorlist;
}

.loginbuttom {
    grid-area: submit;
}
form > input {
    width: 100%;
    padding: 3px;
    size: 10px;
}

.filderror {
    border: 1px solid red;
}

form > .loginbuttom > button {
    width: 205px;
    margin: 15px;
    color: white;
    text-decoration: none;
    background-color: #E76F51;
    border: 1px solid #E76F51;
    border-radius: 30px;
    padding: 10px 30px;
    transition: all 1s;
    font: 400 13.3333px Roboto;
}

@media screen and (max-width: 768px) {
    main {
        grid-template-areas: "image";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    main > figure > p {
        font-size: 23px;
        margin: 22px 35px;
    }

    main > figure {
        background-size: cover;
        background-position: center;
        width: 768px;
    }
}

@media screen and (max-width: 375px) {
    main {
        grid-template-areas: "image";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    main > figure {
        background-size: cover;
        width: 100%;
    }

    main > figure > p {
        font-size: 19px;
        margin: 20px 30px;
    }
}