* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;

}
header {
    display: flex;
    width: 100vw;
}

.logo {
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 70vw;
    margin-top: 5vh;
}


main {
    justify-content: center;
    width: 90vw;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.70);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "login";
    align-items: center;
    margin: 0 auto;
    margin-top: 10%;
}


main > section {
    display: flex;
}

main > section > .newUser {
    grid-area: login;
    width: 100%;
    height: 80%;
    margin: 5%;
}
form {
    height: 100%;
    display: grid;
    gap: 1%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-content: center;
    grid-template-areas: "email email1"
    "firstname firstname1"
    "lastname lastname1"
    "password password1"
    "phoneNumber phoneNumber1"
    "backB submit"
    "errorlist errorlist";
}


main > section > .newUser > h3 {
    font-size: 2em;
    text-align: center;
    color: black;
}



.firstname {
    grid-area: firstname;
    text-align: left;
}

.lastname {
    grid-area: lastname;
    text-align: left;
}

.email {
    grid-area: email;
    text-align: left;
}

.username {
    grid-area: username;
    text-align: left;
}

.password {
    grid-area: password;
    text-align: left;
}

.phoneNumber {
    grid-area: phoneNumber;
    text-align: left;
}

.firstname1 {
    grid-area: firstname1;
}

.lastname1 {
    grid-area: lastname1;
}

.email1 {
    grid-area: email1;
}

.username1 {
    grid-area: username1;
}

.password1 {
    grid-area: password1;
}

.phoneNumber1 {
    grid-area: phoneNumber1;
}

.backbuttom {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: backB;
}
.errorlist {
    grid-area: errorlist;
}

.loginbuttom {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: submit;
}
form > input {
    padding: 3%;
    margin: 10% 0%;
    width: 100%;
    border-radius: 3px;
    padding: 3%;
    border: 1px solid #E0E7FF;
}
form > label {
    text-align: center;
    align-self: center;
}

.filderror {
    border: 1px solid red;
}

button, #my-button {
    width: 80%;
    margin: 2.5%;
    color: white;
    text-decoration: none;
    background-color: rgb(17, 156, 133);
    border: 1px solid rgb(17, 156, 133);
    border-radius: 30px;
    padding: 10px 30px;
    transition: all 1s;
    font: 400 1em Roboto;
}

#my-button {
    text-align: center;
}

