* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    background: linear-gradient(319deg, rgb(146, 255, 237) 0%, #ffffff 100%);
}

main {
    width: 100vw;
    min-height: calc(100vh - 56px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "login";
    align-items: center;
}

main > section {
    display: flex;
}

main > section > .newUser {
    grid-area: login;
    width: 100%;
    height: 80%;
    margin: 5%;
}
form {
    height: 100%;
    display: grid;
    gap: 1%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-content: center;
    grid-template-areas: "email email1"
    "firstname firstname1"
    "lastname lastname1"
    "password password1"
    "phoneNumber phoneNumber1"
    "backB submit"
    "errorlist errorlist";
}


main > section > .newUser > h3 {
    font-size: 3em;
    text-align: center;
    color: black;
}

.firstname {
    grid-area: firstname;
}

.lastname {
    grid-area: lastname;
}

.email {
    grid-area: email;
}

.username {
    grid-area: username;
}

.password {
    grid-area: password;
}

.phoneNumber {
    grid-area: phoneNumber;
}

.firstname1 {
    grid-area: firstname1;
}

.lastname1 {
    grid-area: lastname1;
}

.email1 {
    grid-area: email1;
}

.username1 {
    grid-area: username1;
}

.password1 {
    grid-area: password1;
}

.phoneNumber1 {
    grid-area: phoneNumber1;
}

.backbuttom {
    grid-area: backB;
}
.errorlist {
    grid-area: errorlist;
}

.loginbuttom {
    grid-area: submit;
}
form > input {
    padding: 3%;
    margin: 10% 0%;
}
form > label {
    text-align: center;
    align-self: center;
}

.filderror {
    border: 1px solid red;
}

button {
    width: 80%;
    margin: 2.5%;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px 30px;
    transition: all 1s;
    font: 400 1em Roboto;
}

